* text=auto eol=lf
*.bat text eol=crlf
*.ps1 text eol=crlf
*.sh text eol=lf
*.ini text eol=lf
*.uproject text eol=lf
*.uplugin text eol=lf
*.png binary
*.jpg binary
*.jpeg binary
*.uasset binary
*.umap binary
